---
import { getEntry, render } from "astro:content";

import DefaultLayout from "@layouts/DefaultLayout.astro";
import Links from "@react/Links.tsx";
import ThemeBtn from "@react/ThemeBtn.tsx";
import Posts from "./posts/index.astro";

const entry = await getEntry("info", "me");
const { Content } = await render(entry);
const workEntry = await getEntry("info", "work");
---

<DefaultLayout
  title="Abhishek's Webpage"
  description="Take a deepdive into Abhishek's blogs where he explains his research and projects"
>
  <div class="grid gap-y-6">
    <div class="flex justify-between">
      <div class="flex flex-col gap-y-2.5">
        <div class="flex flex-col gap-y-1">
          <div>
            <h1
              class="text-2xl lg:text-3xl 3xl:text-4xl 6xl:text-5xl font-bold font-poppins tracking-tight text-stone-900 dark:text-stone-100"
            >
              {entry.data.name}
            </h1>
            <p
              class="text-xs xl:text-sm 4xl:text-base 6xl:text-xl font-light font-poppins tracking-tight text-stone-800 dark:text-stone-200"
            >
              {entry.data.pronunciation}
            </p>
          </div>
          <div>
            <p
              class="font-medium lg:text-lg 3xl:text-xl 6xl:text-2xl font-poppins tracking-tight text-stone-900 dark:text-stone-100"
            >
              {entry.data.headline}
            </p>
          </div>
        </div>
        <div>
          <Links compType="exploded" client:only="react" />
        </div>
      </div>
      <ThemeBtn client:load />
    </div>
    <div>
      <h2
        class="text-lg lg:text-xl 3xl:text-2xl font-semibold font-poppins tracking-tight text-stone-900 dark:text-stone-100"
      >
        {entry?.data.title}
      </h2>
      <div
        class="prose tracking-tight dark:prose-invert prose-sm lg:prose-base 2xl:text-lg font-poppins prose-p:text-justify prose-figure:p-0 prose-stone max-w-none"
      >
        <Content />
      </div>
    </div>
    <div>
      <h2
        class="text-lg lg:text-xl 3xl:text-2xl font-semibold font-poppins tracking-tight text-stone-900 dark:text-stone-100"
      >
        {workEntry?.data.title}
      </h2>
      <div class="grid gap-y-2 max-w-none">
        {
          workEntry?.data.work.map((value: [Object], idx: number) => (
            <div class="justify-between flex">
              <div class="-space-y-0.5">
                <h3 class="font-poppins tracking-tight text-justify text-stone-700 dark:text-stone-200 3xl:text-lg font-medium">
                  {value.organization}
                </h3>
                <h3 class="font-poppins tracking-tight text-justify text-stone-700 dark:text-stone-300 text-xs lg:text-sm 3xl:text-base font-light">
                  {value.title}
                </h3>
              </div>
              <h3 class="font-poppins tracking-tight text-justify text-stone-700 dark:text-stone-200 text-xs lg:text-sm 3xl:text-base">
                {value.timeline}
              </h3>
            </div>
          ))
        }
      </div>
    </div>
    <div class="grid gap-y-3">
      <div class="grid gap-y-0.5">
        <h2
          class="text-lg lg:text-xl 3xl:text-2xl 6xl:text-3xl font-semibold font-poppins tracking-tight text-stone-900 dark:text-stone-100"
        >
          Recent Posts
        </h2>
        <Posts count={3} />
      </div>
      <a class="flex items-center gap-x-0.5 cursor-pointer" href="/posts">
        <h3
          class="text-xs xl:text-sm 3xl:text-base 6xl:text-lg font-medium font-poppins tracking-tight text-stone-900 dark:text-stone-100"
        >
          More Posts
        </h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-4 text-stone-900 dark:text-stone-100"
        >
          <path
            fill-rule="evenodd"
            d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"
          >
          </path>
        </svg>
      </a>
    </div>
  </div>
  <div class="mt-14">
    <div class="flex items-center justify-between">
      <h4
        class="text-xs lg:text-sm font-light font-poppins tracking-tight text-stone-600 dark:text-stone-100"
      >
        Built with <a
          class="underline"
          href="https://www.astro.build/"
          target="_blank">Astro.js</a
        >
      </h4>
      <Links client:only="react" />
    </div>
  </div>
</DefaultLayout>
