---
interface Props {
  title: string;
  description: string;
}

const ICO_URL = `${Astro.url}new_icons/icon.jpeg`;
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Begin Important tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <!-- End Important tags -->

    <!-- Begin Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- End Fonts -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
      integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
      crossorigin="anonymous"
      is:inline></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
      integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
      is:inline></script>

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />

    <!-- Begin Dynamic Meta Tags -->
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    <meta itemprop="url" content={Astro.url} />
    <meta itemprop="image" content={ICO_URL} />
    <!-- End Dynamic Meta Tags -->

    <!-- Begin Open Graph for Previews -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ICO_URL} />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="640" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <!-- End Open Graph for Previews -->

    <!-- Begin Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <!-- TODO: Dynamic images (intro) for both intro page and the blog pages -->
    <meta name="twitter:image" content={ICO_URL} />
    <!-- End Twitter Cards -->

    <!-- Begin Icons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/new_icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/new_icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/new_icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/new_icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/new_icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/new_icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/new_icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/new_icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/new_icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/new_icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/new_icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/new_icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/new_icons/favicon-16x16.png"
    />
    <!-- End Icons -->

    <!-- Begin Misc -->
    <link rel="manifest" href="/new_icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/new_icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- End Misc -->
  </head>
  <body
    class="relative min-h-screen px-6 py-9 md:px-24 md:py-12 lg:px-72 lg:py-16 xl:px-96 2xl:px-[28rem] 3xl:px-[32rem] 4xl:px-[36rem] 5xl:px-[40rem] 6xl:px-[44rem] 7xl:px-[48rem] bg-stone-50 dark:bg-stone-900"
  >
    <script>
      // function to set theme
      function setTheme(theme: string) {
        localStorage.setItem("theme", theme);
        theme === "dark"
          ? document.documentElement.classList.add("dark")
          : document.documentElement.classList.remove("dark");
      }

      // check for default theme
      const defaultDarkTheme = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const defaultLightTheme = window.matchMedia(
        "(prefers-color-scheme: light)"
      ).matches;

      // check for localstorage
      const localTheme: string | null = localStorage.getItem("theme");

      // set theme to dark mode
      if (defaultDarkTheme && localTheme === null) {
        setTheme("dark");
      }

      // set theme to light mode
      if (defaultLightTheme && localTheme === null) {
        setTheme("light");
      }

      // set theme according to localtheme/user customization (theme button)
      if (localTheme !== null) setTheme(localTheme);
    </script>
    <slot />
  </body>
  <script
    src="https://cdn.jsdelivr.net/gh/eddymens/markdown-external-link-script@v2.0.0/main.min.js"
  ></script>
</html>
